@model University_of_Greenwich.Models.Trainee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TraineeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraineeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraineeDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraineeDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraineeAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraineeAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraineeEducation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraineeEducation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraineeTOEIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraineeTOEIC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TraineeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
